@errorText:               #ca0b0b;

.horizontal(@startColor: #555, @endColor: #333){
    background-color: @endColor;
    background-image: linear-gradient(to right, @startColor, @endColor); // Standard, IE10
    background-repeat: repeat-x;
}

@media (max-width: 545px) {
    #topBar .orgFilterSelection {
      display: none;
      color: @mainColor
    }
  
    #topBar .orgFilterSelectionAmount {
      display: inline;
    }
  }